*{
    margin: 0;
    padding: 0;

}

.boton{
    display: inline-flex;
    background-color: aliceblue;
    color: black;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

}
.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}
body{
    background: url(espacio.jpg)no-repeat center center fixed;  
    min-height: 100vh;
    background-size: cover;
    
}
.titulo{
    color:aliceblue;
    font-family: cursive;
    font-size: 60px;
    position: absolute;
    left: 39%;
    top: 5%;
    text-transform: uppercase;

}

.formulario{
    width: 320px;
    background: whitesmoke;
    color: black;
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:'Roboto', sans-serif
}

.menu{
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
   
}

.boton2{ /*Funciona para el boton Volver en la parte de order*/
    display: inline-flex;
    background-color: aliceblue;
    color: black;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    position: sticky;
    bottom: 80%;
    left: 80%;  

}
.boton2 span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.boton3{ /*Boton de order en la parte de la portada*/
    display: inline-flex;
    background-color: aliceblue;
    color: black;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    position: sticky;
    top: 20%;
    left: 67%;  

}
.boton3 span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.boton4{ /*Boton de Menu en la parte de la porta*/
    display: inline-flex;
    background-color: aliceblue;
    color: black;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    position: sticky;
    top: 20%;
    left: 44%;  

}
.boton4 span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.boton5{ /*Boton de About us en la parte de la porta*/
    display: inline-flex;
    background-color: aliceblue;
    color: black;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    position: sticky;
    top: 20%;   
    left: 20%;  

}
.boton5 span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.imagen_menu{
    position: absolute;
    top: 30%;
    left: 35%;
}


.subtitulo{
    color:aliceblue;
    font-family:'Roboto', sans-serif;
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;  

}

.orden{
    color:aliceblue;
    font-family:'Roboto', sans-serif;
    font-size: 55px;
    text-transform: uppercase;  
    position: absolute;
    left: 35%;
    top: 5%;


}

.datos{
    color:aliceblue;
    font-family:'Roboto', sans-serif;
    font-size: 55px;
    text-align: center;
    position: sticky;
    left: 35%;
    top: 20%;
}
.titulo_datos{
    color:aliceblue;
    font-family:'Roboto', sans-serif;
    font-size: 55px;
    text-align: center;
    position: sticky;
    left: 35%;
    top: 10%;
}

.mapa{
    position: absolute;
    left: 42%;
    bottom: 5%;
}


